:root{
    --primary_color: #333;
    --secondary_color: #2600ff;
}
html, body{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
img{
    height: 100%;
}
.container{
    position: relative;
    height: 100%;
    padding: 1vh 2vw;
}
.nav_container{
    width: 100%;
    height: 6vh;
    position: relative;
    display: grid;
    grid-template-areas: 'brand profile';
    grid-template-columns: 2fr 8fr;
    background: #333;
    padding: 0vh 4vw 0vh 4vw;
    font-size: 1rem;
    line-height: 6vh;
}
.nav_container input {
    color: #fff;
}
.nav_container .material-icons {
    font-size: 6vh;
}
.navLink{
    text-decoration: none;
    position: relative;
}
.avatar{
    /* display: inline-block; */
    position: relative;
    margin: 0 2vw 0 auto;
    height: 6vh;
}
.avatar img{
    border: 1px dashed #ccc;
    border-radius: 50%;
}
.brand{
    height: 100%;
    grid-area: brand;
    line-height: 3.5rem;
}

.profile{
    height: auto;
    width: 100%;
    display: inline-flex;
    grid-area: profile;
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.profileImage{
    height: auto;
    width: 100%;
}
.loginForm{
    grid-area: profile;
    display: grid;
    width: 40vw;
    height: 6vh;
    position: relative;
    margin: 0 1vw 0 auto;
    grid-template-columns: 3fr 3fr 1fr;
    grid-column-gap: 1vw;
    color: #fff;
    line-height: 100%;
}

.logoutBTN{
    grid-area: profile;
}

.hompage{
    display: grid;
    grid-template-areas: 
    'lside weather rside'
    'lside main rside';
    grid-template-rows: minmax(20px, auto)
}

.newPostForm{
    grid-area: main;
    display: block;
    grid-template-areas: 'avatar input'
}
#postTextArea{
    resize: none;
    grid-area: input;
}
.controls{
    display: flex;
    grid-area: input;
}
.postImage{
    grid-area: avatar;
}

.weather{
    grid-area: weather;
    display: block;
    margin: 1vh 1vh;
    text-align: center;
}

.deletePost{
    display: inline;
}